/* src/index.css */
@import "tailwindcss";

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ensure leaflet takes up 100% of its wrapper */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  z-index: 1;
}